
<ion-content>
  <div>
    <h2>Appointments</h2>
    <ul>
      <li *ngFor="let appointment of appointments">
        <div>
          <p>{{ appointment.reason }}</p>
          <p>{{ appointment.date }} à {{ appointment.time }}</p>
          <p [ngClass]="{
  'pending': appointment.status === 'pending',
  'rejected': appointment.status === 'rejected',
  'accepted': appointment.status === 'accepted'
}">
            Statut: {{ appointment.status }}
          </p>
        </div>
        <div>
          <button (click)="acceptAppointment(appointment)" [disabled]="appointment.status === 'accepted'">
            Accepter
          </button>
          <button class="reject" (click)="rejectAppointment(appointment)" [disabled]="appointment.status === 'rejected'">
            Rejeter
          </button>
        </div>
      </li>
    </ul>
  </div>
</ion-content>
