<div id="container">
  <div class="upload-area" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)">
    <input type="file" (change)="onFileSelected($event)" hidden #fileInput />
    <ion-icon name="cloud-upload-outline" size="large"></ion-icon>
    <p>Drag & Drop files here or click to select files</p>
    <ion-button expand="block" (click)="fileInput.click()">Select File</ion-button>
    <ion-button expand="block" color="primary" (click)="onUpload()">Send Document</ion-button>
  </div>
  <div class="file-info">
    <div *ngIf="selectedFileName" class="file-name">
      <p>Selected File: {{ selectedFileName }}</p>
    </div>
    <ion-progress-bar *ngIf="uploadProgress >= 0" [value]="uploadProgress"></ion-progress-bar>
    <div *ngIf="uploadProgress >= 0">
      <p>Upload Progress: {{ uploadPercentage }}%</p>
    </div>
  </div>
</div>
