<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>document-upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">document-upload</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <input type="file"  />
    <ion-button >Upload Document</ion-button>
  </div>
</ion-content>

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Upload Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <div ng2FileDrop
       class="area">
    <div id="dropZone">Drop files here</div>
  </div>

  <input type="file" accept="image/*" ng2FileSelect  multiple />

  <ion-button >Upload files</ion-button>

  <h2>Your files: </h2>
  <ul>
    <li >

    </li>
  </ul>
</ion-content>
