<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="color: #132d5e;">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="profile-button" >
        <ion-icon name="person-circle" class="profile-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="appointment">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Appointment Confirmation</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngIf="appointment.doctor">
        <ion-avatar slot="start">
          <img *ngIf="appointment.doctor.image" [src]="'assets/img/' + appointment.doctor.image" alt="Doctor Avatar">
        </ion-avatar>
        <ion-label>
          <h2>Doctor: {{ appointment.doctor.name }}</h2>
          <p>Specialty: {{ appointment.doctor.specialty }}</p>
          <p>Address: {{ appointment.doctor.address }}</p>
          <p>Phone: {{ appointment.doctor.phone }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="medkit-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Service: {{ appointment.service }}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Date: {{ getFormattedDate(appointment.date) }}</h2>
          <h2>Time: {{ appointment.time }}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Location: {{ appointment.doctor.address }}</h2>
        </ion-label>
      </ion-item>
      <ion-button expand="full" color="primary" (click)="confirmAppointment()">Confirm Appointment</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
