<ion-header>
  <ion-toolbar>
    <ion-title>Document List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Document List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let document of documents" class="document-item">
      <ion-label>{{ document.filename }}</ion-label>
      <ion-button (click)="viewDocument(document)" >
        <ion-icon name="eye-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteDocument(document.id)" >
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
