<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="color: #132d5e;">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="profile-button">
        <ion-icon name="person-circle" class="profile-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="doctor">
  <!-- Existing content -->
  <ion-card>
    <ion-card-header>
      <ion-row class="ion-align-items-center ion-justify-content-between">
        <ion-col size="auto">
          <ion-avatar>
            <img [src]="'http://localhost:5000/uploads/' + doctor.image" alt="Doctor Avatar" height="80" width="80">
          </ion-avatar>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" color="primary" (click)="openConversation()" >
            <ion-icon slot="start" name="chatbubbles"></ion-icon>
            
          </ion-button>
        </ion-col>
      </ion-row>
    
      <ion-card-title>{{ doctor.name }}</ion-card-title>
      <ion-card-subtitle>{{ doctor.specialty }}</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <p>{{ doctor.description }}</p>
      <ion-item>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label>{{ doctor.address }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-label>{{ doctor.phone }}</ion-label>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-list-header>
              <ion-label>Book Appointment</ion-label>
            </ion-list-header>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" size-md="6" size-lg="4" *ngFor="let day of daysOfWeek">
            <ion-card [ngStyle]="{'background-color': isAvailable(day) ? '#28a745' : '#dc3545', 'color': 'white'}" (click)="openBookingModal(day)">
              <ion-card-header>
                <ion-card-title>
                  <ion-icon [name]="isAvailable(day) ? 'checkmark-circle-outline' : 'close-circle-outline'" slot="start"></ion-icon>
                  {{ day }}
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p *ngIf="isAvailable(day)">{{ getHours(day).join(', ') }}</p>
                <p *ngIf="!isAvailable(day)">No availability</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="isDateCardVisible">
    <ion-card-header>
      <ion-card-title>Localisation</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="map" style="height: 300px;"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
