<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="color: #1358dc;">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" >
      <!-- Notification button with badge -->
      <ion-button class="notification-button" >
        <ion-icon name="notifications"></ion-icon>

      </ion-button>
      <ion-button class="profile-button">
        <ion-icon name="person-circle" class="profile-icon"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<br>

<ion-content [fullscreen]="true" class="admin-content">
  <ion-header collapse="condense" class="condensed-header">
    <ion-toolbar>
      <ion-title size="large">Admin Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>



    <div class="action-cards">
      <ion-card class="action-card" routerLink="/admin-profile/dashboard" routerLinkActive="active-card">
        <ion-icon name="stats-chart-outline" class="card-icon"></ion-icon>
        <h2>Medical Dashboard</h2>
        <p>Voir les statistiques et rapports</p>
      </ion-card>

      <ion-card class="action-card" (click)="onButtonClick()">
        <ion-icon name="person-add-outline" class="card-icon"></ion-icon>
        <h2>Ajouter un médecin</h2>
        <p>Créer un nouveau compte médecin</p>
      </ion-card>

      <ion-card class="action-card" (click)="onButtonClick2()">
        <ion-icon name="megaphone-outline" class="card-icon"></ion-icon>
        <h2>Ajouter une pub</h2>
        <p>Créer une nouvelle publicité</p>
      </ion-card>
    </div>



    <router-outlet></router-outlet>

</ion-content>
