<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button mode="md" defaultHref="/home" color="white"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

</ion-content>

<ion-footer>
  <ion-list lines="full">
    <ion-list-header class="ion-margin">
      <ion-label>
        Création de compte
      </ion-label>
    </ion-list-header>
    <div class="scrollable-form">
      <ion-item-group class="ion-margin-horizontal">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
          <!-- Profile Image -->
          <div class="ion-margin-vertical ion-text-center">
            <div class="image-preview-container">
              <img *ngIf="imagePreview" [src]="imagePreview" class="profile-image-preview" alt="Profile Preview">
              <ion-icon *ngIf="!imagePreview" name="person-circle" class="default-profile-image"></ion-icon>
            </div>
            <ion-button fill="clear" size="small" (click)="triggerFileInput()">
              <ion-icon name="camera" slot="start"></ion-icon>
              Ajouter une photo
            </ion-button>
            <input #fileInput type="file" id="fileInput" accept="image/*" (change)="onFileSelected($event)" style="display: none;">
          </div>

          <!-- First Name -->
          <div class="ion-margin-vertical">
            <ion-item>
              <ion-label position="stacked">Prénom</ion-label>
              <ion-input formControlName="firstName" type="text" placeholder="Prenom">
                <ion-icon name="person" slot="start" color="medium"></ion-icon>
              </ion-input>
            </ion-item>
            <ion-text class="error" color="danger"
                      *ngIf="form.get('firstName')?.touched && !form.get('firstName')?.valid">
              <ion-text *ngIf="form.get('firstName')?.hasError('required')">
                * Veuillez introduire votre Prénom!
              </ion-text>
            </ion-text>
          </div>

          <!-- Last Name -->
          <div class="ion-margin-vertical">
            <ion-item>
              <ion-label position="stacked">Nom</ion-label>
              <ion-input formControlName="lastName" type="text" placeholder="Nom">
                <ion-icon name="person" slot="start" color="medium"></ion-icon>
              </ion-input>
            </ion-item>
            <ion-text class="error" color="danger"
                      *ngIf="form.get('lastName')?.touched && !form.get('lastName')?.valid">
              <ion-text *ngIf="form.get('lastName')?.hasError('required')">
                * Veuillez introduire votre Nom!
              </ion-text>
            </ion-text>
          </div>

          <!-- Birth Date -->
          <div class="ion-margin-vertical">
            <ion-item>
              <ion-label position="stacked">Date de naissance</ion-label>
              <ion-input formControlName="birthDate" type="date" placeholder="Date de naissance">
                <ion-icon name="calendar" slot="start" color="medium"></ion-icon>
              </ion-input>
            </ion-item>
            <ion-text class="error" color="danger"
                      *ngIf="form.get('birthDate')?.touched && !form.get('birthDate')?.valid">
              <ion-text *ngIf="form.get('birthDate')?.hasError('required')">
                * Veuillez introduire votre Date de naissance!
              </ion-text>
              <ion-text *ngIf="form.get('birthDate')?.hasError('underage') && form.get('birthDate')?.touched">
                * Vous devez avoir au moins 16 ans!
              </ion-text>
            </ion-text>
          </div>

          <!-- Email -->
          <div class="ion-margin-vertical">
            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input formControlName="email" type="email" placeholder="Adresse Email">
                <ion-icon name="mail" slot="start" color="medium"></ion-icon>
              </ion-input>
            </ion-item>
            <ion-text class="error" color="danger"
                      *ngIf="form.get('email')?.touched && !form.get('email')?.valid">
              <ion-text *ngIf="form.get('email')?.hasError('required')">
                * Veuillez introduire votre Adresse Email
              </ion-text>
              <ion-text *ngIf="form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')">
                * Veuillez introduire une Adresse Email valide!
              </ion-text>
              <ion-text *ngIf="form.get('email')?.hasError('emailExists')">
                * Cet email est déjà utilisé. Veuillez en choisir un autre.
              </ion-text>
            </ion-text>
          </div>

          <!-- Phone -->
          <div class="ion-margin-vertical">
            <ion-item>
              <ion-label position="stacked">Téléphone</ion-label>
              <ion-input formControlName="phone" type="tel" placeholder="Numéro de téléphone">
                <ion-icon name="call" slot="start" color="medium"></ion-icon>
              </ion-input>
            </ion-item>
            <ion-text class="error" color="danger"
                      *ngIf="form.get('phone')?.touched && !form.get('phone')?.valid">
              <ion-text *ngIf="form.get('phone')?.hasError('pattern')">
                * Veuillez introduire un numéro de téléphone valide (10 chiffres)!
              </ion-text>
            </ion-text>
          </div>

          <!-- Allergies -->
          <div class="ion-margin-vertical">
            <ion-item>
              <ion-label position="stacked">Allergies (optionnel)</ion-label>
              <ion-textarea formControlName="allergies" placeholder="Liste d'allergies séparées par des virgules"></ion-textarea>
            </ion-item>
          </div>

          <!-- Password -->
          <div class="ion-margin-vertical">
            <ion-item>
              <ion-label position="stacked">Mot de passe</ion-label>
              <ion-input formControlName="password" type="password" placeholder="Mot de passe">
                <ion-icon name="key" slot="start" color="medium"></ion-icon>
              </ion-input>
            </ion-item>
            <ion-text class="error" color="danger"
                      *ngIf="form.get('password')?.touched && !form.get('password')?.valid">
              <ion-text *ngIf="form.get('password')?.hasError('required')">
                * Please enter your Password
              </ion-text>
              <ion-text *ngIf="form.get('password')?.hasError('minlength') && !form.get('password')?.hasError('required')">
                * Password must be at least 8 characters
              </ion-text>
            </ion-text>
          </div>

          <!-- Confirm Password -->
          <div class="ion-margin-vertical">
            <ion-item>
              <ion-label position="stacked">Confirmer Mot de passe</ion-label>
              <ion-input formControlName="confirmPassword" type="password" placeholder="Confirmer Mot de passe">
                <ion-icon name="key" slot="start" color="medium"></ion-icon>
              </ion-input>
            </ion-item>
            <ion-text class="error" color="danger"
                      *ngIf="form.get('confirmPassword')?.touched && (form.hasError('mismatch') || !form.get('confirmPassword')?.valid)">
              <ion-text *ngIf="form.get('confirmPassword')?.hasError('required')">
                * Veuillez confirmer votre Mot de passe!
              </ion-text>
              <ion-text *ngIf="form.hasError('mismatch') && !form.get('confirmPassword')?.hasError('required')">
                * Les mots de passes ne correspondent pas!
              </ion-text>
            </ion-text>
          </div>

          <ion-button
  size="large"
  expand="block"
  shape="round"
  color="primary"
  type="submit"
  [disabled]="isSubmitting">
  <ion-spinner *ngIf="isSubmitting"></ion-spinner>
  <ion-text *ngIf="!isSubmitting" style="color: white;">S'inscrire</ion-text>
</ion-button>
        </form>
      </ion-item-group>
    </div>
  </ion-list>
</ion-footer>