<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="color: #132d5e;">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="profile-button">
        <ion-icon name="person-circle" class="profile-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-document-upload
    [doctorId]="doctorId"
    (documentUploaded)="onDocumentUploaded($event)">
  </app-document-upload>
  <app-document-list [documents]="documents"></app-document-list>
</ion-content>
