<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <span class="material-icons">home</span>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="accueil">
      <span class="material-icons">person</span>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <span class="material-icons">settings</span>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="medcin">
      <span class="material-icons">medical_services</span>
      <ion-label>Medcin</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
